:root{
    /* Primary*/

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    
    /*Neutral*/
    
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*{
 padding: 0;
 margin: 0;
 font-family: 'Red Hat Display', sans-serif;
 
}
@media(max-width: 500px){
    body{
        background: url(images/pattern-background-mobile.svg) no-repeat;
    }
   
}


  

body {
    z-index: 0;
    background: url(images/pattern-background-desktop.svg)  no-repeat;
    background-color: var(--Pale-blue);
}

.main{
    z-index: 1;
    width: 252px;
    height: 400px;
   margin: 6rem auto;
    border-radius: 10px;
    border: 1px;
    background-color: #fff;
}

.music-man{
    height: 120px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.heading{
    font-weight: 900;
    text-align: center;
    padding-bottom: 1rem;
    color: hsla(224, 23%, 18%, 1);
}

.text{
    padding: 1rem;
}

p{
    text-align: center;
    font-size: 12px;
    color: var(--Desaturated-blue);
}

.plan{
    margin: 1rem .3rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--Very-pale-blue);
    font-size: 12px;
    color: var(--Desaturated-blue);
}

 h4{
    color: black;
    font-weight: bold;
}

.right-text{
    float: right;
    font-weight: 900;
}

.right-text:hover{
    text-decoration: none;
    color: rgb(125, 97, 252);
    transition: 0.5s;
}
    


.music{
    float: left;
    position: relative;
    bottom: .5rem;
    right: .5rem;
}

.hero{
    margin: 1rem .5rem;
    padding: .5rem;
    background-color: var(--Bright-blue);
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    box-shadow: 5px 4px 18px 2px rgba(153, 131, 250, 0.5), 0 6px 20px 0 rgba(64, 64, 65, 0.19);
    transition: 0.5s;
}

.hero:hover{
    background-color:rgb(125, 97, 252);
    cursor: pointer;
}

.cancel{
    font-weight: 700;
}

.cancel:hover{
    color: black;
    cursor: pointer;
}

